.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: #ededed;
  color: $color-light;
  margin-bottom: 50px;

  &__wrapper {
    position: relative;
  }

}

.logo {
  background-image: url("../images/logo_pamiec_ab.png");
  width: 341px;
  height: 114px;
}

.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);

  a {
    @extend .h2;
    color: $color-main;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: lighten($color-dark, 50%);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 75%);
    }

  }

}
