/* 3 boxes on front page */

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link-wrapper {
  width: 100%;
  height: 119px;
  border-radius: $radius;
  text-align: center;
  background-size: cover;

  a {
    text-decoration: none;
    color: #ffffff;
  }

  h1 {
    line-height: 100px;
    margin: 0;
    transition: $transition;
  }

  p {
    opacity: 0;
    margin: 0;
    transition: $transition;
  }

  :hover h1 {
    transform: translateY(-15px);
  }

  :hover p {
    opacity: 1;
    transform: translateY(-15px);
  }
}

.order-link {
  background-image: url("../images/assets/pizza-1.jpg");
  margin-right: 6px;
}

.booking-link {
  background-image: url("../images/assets/pizza-2.jpg");
}

.opening-wrapper {
  width: 658px;
  height: 120px;
  border-radius: 4px;
  background-color: #ff6b6b;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 120px;
  h1 {
    margin-top: 6px;
    padding: 0;
    transform: translateY(-10px);
  }
  p {
    margin: 0;
    padding: 0;
    transform: translateY(-95px);
    font-weight: 300;
  }
}

/* Carousel opinion */

.opinions-slider .slide {
  display: flex;
  flex: 0 0 50%;
  height: 193px;
  width: 100%;
  margin: 50px auto;
}

.opinions-slider .image img {
  max-width: 193px;
  height: 100%;
  object-fit: cover;
  margin: 40px 40px 40px 0;
  border-radius: $radius;
}

.text {
  margin-top: 50px;
}

.signature {
  font-style: italic;
}

.flickity-page-dots {
  bottom: -50px;
}

/* Gallery */

.gallery {
  margin: 150px auto;

  .row {
    justify-content: space-around;
  }

  img {
    border-radius: $radius;
    object-fit: cover;
    height: 205px;
    width: 205px;
    margin-bottom: 10px;
  }

  .image {
    position: relative;
    z-index: 1;
  }

  .image::after {
    content: "";
    width: 100%;
    height: 92%;
    border-radius: $radius;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    transition: $transition;
    z-index: 2;
  }

  .image:hover .icon {
    opacity: 1;
  }

  .image:hover:after {
    opacity: 1;
  }
}

.gallery-link {
  margin-left: 5px;
  color: $color-main;
}

.icon-wrapper {
  position: absolute;
  transform: translate(65px, -135px);
  z-index: 3;
}

.icon {
  font-size: 20px;
  color: #ffffff;
  opacity: 0;
  margin: 10px;

  :hover {
    color: $color-main;
  }
}
